.aire {
	padding: 12rem 3rem 2rem 3rem;

	&::before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		box-shadow: var(--box-shadow);
		pointer-events: none;
		z-index: 9;
	}

	main {
		width: 100%;
		margin-top: 10rem;
	}

	.big-img {
		width: 100%;
		max-height: 38rem;
		object-fit: cover;
		border-radius: 12px;
		margin-block: 1rem;
	}

	.double-img {
		display: flex;
		align-items: center;
		gap: 1rem;
		margin-block: 1rem;

		img {
			width: calc((100% - 1rem) / 2);
			border-radius: 12px;
			object-fit: cover;
		}
	}
}
