:root {
	--primary: #fff;
	--secondary: #000;
	--light-gray: #e8e5e480;
	--dark-gray: #7f7f7f;

	--box-shadow: 0 0 50px 50px white;
	--custom-animation: fadeIn 1s forwards ease-out;
	--custom-delay: 0.2s;
}

.page {
	min-height: 100dvh;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(200px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

.in-view {
	animation: fadeIn 1s forwards ease-out;
}
